<nav>
  <div class="titolo">
    <h2>Gestione prenotazione per un stabilimento di 100 ombrelloni</h2>
  </div>
  <div class="container" *ngIf="isAuthenticated; else loginForm">
    <!-- Contenuto per l'utente autenticato -->
    <p>Welcome, {{ username }}!</p>
    <button (click)="logout()">Logout</button>
    <app-stabilimento></app-stabilimento>
  </div>



  <ng-template #loginForm>
    <!-- Form di login -->
    <div class="container form-container">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" [(ngModel)]="username" id="username" placeholder="Username">
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="password" id="password" placeholder="Password">
      </div>
      <div class="form-group">
        <button (click)="login($event)">Login</button>

      </div>
    </div>
  </ng-template>
</nav>
